.productshop__heading
{
     text-transform: uppercase;
      padding: 100px 0px 40px 0px
}

.productshop__decription{
 border-left: 2px solid $golden;
 padding-left: 20px
}

.productshop__button{
    border: 1px solid;
    padding: 20px 50px
}



// style={{ border: '1px solid', padding: '20px 50px' }}