.productShop__title{
    font-size: 150px
 }

 .productShop__subtitle{
    font-size: 70px; 
    vertical-align: middle;
     padding-top: 30px; 
     color: $golden;
 }

 .productShop__button{
    position: absolute; 
    bottom: 40px; 
    right: 50px;
     border-bottom: 2px solid; 
     padding: 0px 0px 2px 13px
 }







